@use '../abstracts' as *;

.breadcrumbs-heading{
    span{
        color:$primary;
    }
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 96px;

    & ~ section{
        margin-top: 96px;
    }
    @include breakpoint(laptop){
        margin-bottom: 64px;
        & ~ section{
            margin-top: 64px;
        }
    }
}