@use '../abstracts' as *;

.cases{
    margin-bottom: 256px;
    & .col-1{
        &:not(:last-child){
            // margin-bottom: 96px;
        }
    }
}

.case{
    position: relative;
    & > :first-child{
        margin-bottom: 16px;
    }
    & .embed-responsive{
        border-radius: 16px;
        overflow: hidden;
    }
    &--white h3, &--white .hashtag{
        color: $white !important;
    }

    &__link::before{
        position: absolute;
        content: "";
        inset: 0;
    }
    &:hover h3{
        text-decoration: underline;
    }
}