@use '../abstracts' as *;

.cases{
    margin-bottom: 128px;
    @include breakpoint(mobile1){
        margin-bottom: 64px;
    }
    // & .col-1{
    //     &:not(:last-child){
    //         // margin-bottom: 96px;
    //     }
    // }
}

.case{
    position: relative;
    & > :first-child{
        margin-bottom: 16px;
    }
    & .embed-responsive{
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
    }
    &:hover .embed-responsive{
        transform: scale(1.01);
    }
    // &--white h3, &--white .hashtag{
    //     color: $white !important;
    // }

    &__link::before{
        position: absolute;
        content: "";
        inset: 0;
    }
}