@use '../abstracts' as *;

.design-process{
    display: flex;
    flex-direction: column;
    gap: 64px;

    &__row:not(:last-child){
        margin-bottom: 40px;
    }
    &__row:last-child{
        margin-bottom: 2px;
    }
    &__row{

        position: relative;
        @include breakpoint(mobile1, min){
            min-width: 1632px;
        }
    }
    &__wrap{
        display: flex;
        gap: 48px;

        max-width: 612px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 16px;
        padding-left: 16px;
        @include breakpoint(mobile1, min){
            max-width: 1632px;
        }
        @include breakpoint(mobile1){
            flex-direction: column;
            padding-left: 32px;
            padding-right: 32px;
            max-width: 612px;
        }
        @include breakpoint(mobile2){
            max-width: 407px;
        }
    }
    @include breakpoint(mobile1, min){
        &__row::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $divider;
            bottom: 0;
            z-index: -1;
        }
    }
    &__step{
        position: relative;
    }
    &__step > :first-child{
        display: flex;
        gap:12px;
        padding-bottom: 4px;
    }
    &__bottom{
        height: 3px;
        border-radius: 8px;
        width: 100%;
        position: absolute;
        bottom: -1px;
        z-index: 2;
    }
    &__step--yellow &__bottom{
        background: #FFC300;
    }
    &__step--red &__bottom{
        background: #FF3F0A;
    }
    &__step--blue &__bottom{
        background: $primary;
    }
    &__step--green &__bottom{
        background: #50B72D;
    }
    @include breakpoint(mobile1, min){
        &__wrap:not(.selected){
            opacity: 0;
            transform: translateY(-10px);
        }
        &__wrap {
            transition: opacity .25s ease, transform .25s ease;
            transform: translateY(0);
            opacity: 1;
        }
    }
    @include breakpoint(mobile1){
        &__step:not(.selected){
            opacity: 0;
            transform: translateY(-10px);
        }
        &__step {
            transition: opacity .25s ease, transform .25s ease;
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    &__steps {
        width: 0;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease;
        transition-delay: 0s;
    }
    
    &__steps.selected {
        overflow: visible;
        flex: 0 0 100vw; // each step spans the viewport width
        height: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.2s;
    }

    &__panel{
        display: flex;
        flex-direction: column;
        gap:64px;
    }
    &__content{
        display: flex;
        overflow: hidden; 
    }
}
