@use '../abstracts' as *;

.hero {
  position: relative;
  overflow: hidden;


    &-main {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-title{
        transform: scale(1);
        padding: 0 24px;
    }
}
