@use '../abstracts' as *;

.pictures{
    display: flex;
    gap: 96px;

    &__wrap{
        display: flex;
        flex-direction: column;
        gap: 96px;
        width: 100%;
    }

    & > div{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    @include breakpoint(laptop){
        &, &__wrap{
            gap: 64px;
        }
    }
    @include breakpoint(tablet){
        &, &__wrap{
            gap: 16px;
        }
    }
    @include breakpoint(mobile1){
        & {
            flex-direction: column;
        }
    }

    @include breakpoint(mobile1, min){
        &--50 > div{
            width: 50%;
        }
    }
}
.picture{
    position: relative;

    @include breakpoint(mobile1, min){
        &--t150{
            justify-content: start !important;
            & > div{
                top: 150px;
            }
        }
    }
}