@use '../abstracts' as *;

.privacy-policy{
    &__heading{
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        @include breakpoint(laptop, min){
            max-width: 38%;
        }

        & span:first-child{
            color:$primary;
        }
    }
    &__row .col-1-1-2 > div{
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    @include breakpoint(tablet){
        &__row .col-1-1-2{
            gap: 64px !important;
        }
        &__row .col-1-1-2 > div{
            gap: 64px;
        }
    }
    @include breakpoint(mobile2){
        &__row .col-1-1-2{
            gap: 56px !important;
        }
        &__row .col-1-1-2 > div{
            gap: 56px;
        }
    }

}

a.privacy-policy{
    color:$light-gray !important;

    @include isHover{
        &:hover{
            text-decoration: underline;
        }
    }
}