@use '../abstracts' as *;

@include breakpoint(laptop){
    .row-m48 > div.col--product {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.product--row{
    display: flex;
    gap: 96px;
    & .col--product{
        flex: 0 1 33.33333% !important;
        max-width: 33.33333% !important;
    }
    @include breakpoint(tablet){
        gap: 64px;
    }
    @include breakpoint(mobile1){
        gap: 16px;
    }
}