@use '../abstracts' as *;

.who-we-are{
    &__logo{
        text-align: end;
    }
    & .section-texts{
        margin-bottom: 24px;
    }
    & > div{
        align-items: center;
    }

    @include breakpoint(mobile2){
        & > div{
            flex-direction: column;
            
            & > div{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}