@use '../abstracts' as *;

.work-texts{
    overflow: hidden;
    @include breakpoint(tablet){
        & .row-nw{
            flex-wrap: wrap !important;
        }
        & .row{
            gap:64px;
        }
    }
}