@use '../abstracts' as *;

.header.header--contacts{
    position: absolute;
}
.header.header--hidden{
    transform: translateY(-120px);
}
.header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: $header-layer;
    transition: background-color .4s, transform 0.4s;

    &-out {
       transform: translateY(-100%);
       pointer-events: none;
    }

    &__left, &__right{
        & svg, & span, & div{
            transition: all .5s;
        }
    }
    &__right a{
        transition: transform 0.25s;
    }
    &__right a:hover{
        transform: scale(1.05);
    }
    & span{
        transition: all .5s;
    }

    &:not(.header--contacts).scrolling-started[data-theme="light"]{
        background-color: rgba($color: $background, $alpha: 0.50);
    }
    &:not(.header--contacts).scrolling-started[data-theme="dark"]{
        background-color: rgba($color: #000, $alpha: 0.08);
    }
    &:not(.header--contacts).scrolling-started{
        backdrop-filter: blur(32px);
    }
    &.active{
        background-color: rgba($color: $white, $alpha: 1.0) !important;
        position: fixed !important;
        transform: translateY(0);
        // backdrop-filter: blur(0) !important;
    }
    &[data-theme="light"], &.active{
        .header__left{
            & svg{
                color:$primary !important;
            }
        }
        .header__center span{
            background-color: $primary !important;
        }
        .header__right {
            & div{
                background-color: $primary !important;
            }
            & span{
                color: $primary !important;
            }
            & svg{
                color:$white !important;
            }
        }
    }
    &[data-theme="dark"]{        
        .header__left{
            & svg{
                color:$white;
            }
        }
        .header__center span{
            background-color: $white;
        }
        .header__right {
            & div{
                background-color: $white;
            }
            & span{
                color: $white;
            }
            & svg{
                color:$primary;
            }
        }
    }
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left, &__center, &__right a{
        padding: 35px 0;
        height: 100%;
        display: flex;
    }

    &__menu-btn {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        position: relative;

        & span{
            height: 3px;
            width: 32px;
            border-radius: 6px;
            transition: all 0.4s;
            display: block;
            position: absolute;
            top:50%
        }
        
        & span:first-child{
            transform: translateY(-5px);
        }
        & span:last-child{
            transform: translateY(5px);
        }

        &.active span:first-child{
            transform: translateY(0) rotate(-45deg);
        }
        &.active span:last-child{
            transform: translateY(0) rotate(45deg);
        }
    }
    
    &__right {
        & span {
            align-self: center;
            margin-right: 24px;
        }
        & div{
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $primary;
            border-radius: 50%;
        }
    }

    @include breakpoint(mobile1){
        &__wrap{
            justify-content: end;
        }
        &__left{
            margin-right: auto;
        }
        &__center{
            margin-right: 32px;
        }
        &__right span{
            display: none;
        }
    }
    @include breakpoint(mobile2){
        &__center{
            margin: 0;
        }
        &__right{
            display: none;
        }
    }
}

.nav {
    // height: fit-content;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: transparent;
    // transform: translateY(-900px);
    transition: max-height .4s, padding-top .4s, padding-bottom .4s, visibility .4s, opacity .4s;
    z-index: 19;
    // visibility: hidden;
    opacity: 0;
    // transform: translateY(-192px);
    overflow: hidden;
    height: 100%;
    max-height: 10px;
    padding-bottom: 0;
    padding-top: 118px;
    
    &.active{
        padding: 0 96px;
        padding-top: calc(96px + 118px);
        padding-bottom: 96px;
        // visibility: visible;
        max-height: 100%;
        opacity: 1;
        // background-color: $white;
    }
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        height: 125vh;
        z-index: 1;
        background-color: white;
    }
    
    &__wrap{
        display: flex;
        flex-direction: column;
        gap:64px;
        // justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
        & .col-1-2-3 li a{
            transition: color .15s;
        }
        @include isHover(){
            & .col-1-2-3 li a:hover{
                color:$primary;
            }
        }

        .row{
            width: 100%;
            max-width: 1176px;
        }
        .col-1-2-3:nth-child(-n + 2) a{
            color:$black;
        }
        // & .col-1-2-3:nth-child(1),
        @include breakpoint(laptop, min){
            .col-1-2-3:not(:nth-child(3)){
                flex: 0 0 calc(33.333% - 64px);
                max-width: calc(33.333% - 64px);
                margin-right: 64px;
            }
            .col-1-2-3:nth-child(3){
                flex: 0 0 33.333%;
                max-width: 33.333%;
            }
        }
        @include breakpoint(laptop){
            max-width: 1302px;
            margin: 0 auto;
            padding: 0 32px;

            & > .row{
                gap: 48px;
                max-width: none;

                max-height: calc(100vh + 118px);
                overflow-y: auto;
            }
            & > .row::-webkit-scrollbar{
                visibility: hidden;
            }
        }
        @include breakpoint(mobile1){
            max-width: 612px;
        }
        @include breakpoint(mobile2){
            max-width: 407px;
        }
        .col-1-2-3 div > :first-child{
            margin-bottom: 32px;
            color: $primary;
        }
        .col-1-2-3:nth-child(1) div li:not(:last-child){
            margin-bottom: 16px;
        }
        .col-1-2-3:nth-child(2) div li:not(:nth-last-child(2)){
            margin-bottom: 32px;
        }
        .col-1{
            text-align: center;
        }
        & li.privacy-policy{
            margin-bottom: 0 !important;
            margin-top: 64px;
        }
        & .col-1.privacy-policy{
            margin-bottom: 32px !important;
        }
    }
    &__menu{
        @include breakpoint(laptop){
            & li.privacy-policy{
                display: none;
            }
        }
    }
    @include breakpoint(laptop, min){
        & .col-1.privacy-policy{
            display: none;
        }
    }
    @include breakpoint(laptop){
        &.active{
            padding-left: 0;
            padding-right: 0;
            padding-top: 118px;
            padding-bottom: 0;
        }
        &__wrap{
            .col-1-2-3 div > :first-child{
                margin-bottom: 24px;
            }
            .col-1-2-3:nth-child(2){
                order: -2;
                flex-basis: calc(50% - 48px);
            }
            .col-1-2-3:nth-child(3){
                order: -1;
                flex-basis: calc(50% - 48px);
            }
            .col-1-2-3:nth-child(1){
                flex: 0 0 100%;
                max-width: 100%;
                
                ul{
                    display: flex;
                    flex-wrap: wrap;
                }
                li{
                    margin-bottom: 0 !important;
                    &:not(:last-child){
                        margin-right: 32px;
                    }
                }
            }
            .col-1{
                text-align: left;
            }
            .row-m16{
                overflow-y: scroll;
                height: 70vh;
            }
        }
    }
    @media(min-width:mobile1) and (max-width:tablet){
        &__wrap{
            .col-1-2-3:nth-child(2), .col-1-2-3:nth-child(3){
                margin-bottom: 32px;
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    @include breakpoint(mobile1){
        &__wrap{
            .col-1-2-3 div > :first-child{
                margin-bottom: 16px;
            }
        }
    }
}

.menu-email{
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0.32px;
}


.nav .col-1-2-3:nth-child(1) div *, .nav .nav__menu *, .nav .col-1-2-3:nth-child(3) div *, .nav .col-1.privacy-policy * {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.nav.active .col-1-2-3:nth-child(1) div *, .nav.active .nav__menu *, .nav.active .col-1-2-3:nth-child(3) div *, .nav.active .col-1.privacy-policy * {
    opacity: 1;
    transform: translateY(0);
}

.nav.active .nav__menu > p { transition-delay: 0.1s; }
.nav.active .nav__menu > ul li:nth-child(1) { transition-delay: 0.15s; }
.nav.active .nav__menu > ul li:nth-child(2) { transition-delay: 0.2s; }
.nav.active .nav__menu > ul li:nth-child(3) { transition-delay: 0.25s; }
.nav.active .nav__menu > ul li:nth-child(4) { transition-delay: 0.3s; }

.nav.active .col-1-2-3:nth-child(3) div > p:nth-child(1) { transition-delay: 0.35s; }
.nav.active .col-1-2-3:nth-child(3) div > p:nth-child(2) { transition-delay: 0.4s; }

.nav.active .col-1-2-3:nth-child(1) div > p { transition-delay: 0.45s; }
.nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(1) { transition-delay: 0.5s; }
.nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(2) { transition-delay: 0.55s; }
.nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(3) { transition-delay: 0.6s; }
.nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(4) { transition-delay: 0.65s; }

.nav.active .col-1.privacy-policy > p { transition-delay: 0.7s; }

/* задержка для постепенного появления */
@media (min-width:742px){
    .nav.active .col-1-2-3:nth-child(3) div > p:nth-child(1) { transition-delay: 0.1s; }
    .nav.active .col-1-2-3:nth-child(3) div > p:nth-child(2) { transition-delay: 0.15s; }

    .nav.active .col-1-2-3:nth-child(1) div > p { transition-delay: 0.35s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(1) { transition-delay: 0.4s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(2) { transition-delay: 0.45s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(3) { transition-delay: 0.5s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(4) { transition-delay: 0.55s; }

    .nav.active .col-1.privacy-policy > p { transition-delay: 0.55s; }
}
@media (min-width:1366px){
    .nav.active .nav__menu > p { transition-delay: 0.1s; }
    .nav.active .nav__menu > ul li:nth-child(1) { transition-delay: 0.15s; }
    .nav.active .nav__menu > ul li:nth-child(2) { transition-delay: 0.2s; }
    .nav.active .nav__menu > ul li:nth-child(3) { transition-delay: 0.25s; }
    .nav.active .nav__menu > ul li:nth-child(4) { transition-delay: 0.3s; }
    .nav.active .nav__menu > ul li:nth-child(5) { transition-delay: 0.35s; }

    .nav.active .col-1-2-3:nth-child(1) div > p { transition-delay: 0.1s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(1) { transition-delay: 0.15s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(2) { transition-delay: 0.2s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(3) { transition-delay: 0.25s; }
    .nav.active .col-1-2-3:nth-child(1) div > ul li:nth-child(4) { transition-delay: 0.3s; }

    .nav.active .col-1-2-3:nth-child(3) div > p:nth-child(1) { transition-delay: 0.1s; }
    .nav.active .col-1-2-3:nth-child(3) div > p:nth-child(2) { transition-delay: 0.15s; }
}