@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-DemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTCommons";
  src: url("../fonts/TTCommons/woff2/TTCommons-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}/*# sourceMappingURL=font.css.map */